* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #121214;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothng: grayscale;
	height: 100vh;
}

:root {
	--primary: #6c38cc;
	--anti-acctent: #7c7c8a;
}

.wrapper {
	max-width: 800px;
	width: 100%;
	padding: 60px 200px;
	border-radius: 20px;
	gap: 30px;
	background: #202024;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.wrapper .logo {
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.wrapper .logo img {
	width: 30px;
	margin-right: 10px;
	margin-top: -5px;
}
.wrapper .timer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}
.info {
	font-weight: 700;
	line-height: 160%;
	font-size: 18px;
}
.info input {
	width: 40px;
	background: none;
	border: none;
	text-align: center;
	font-weight: 700;
	color: var(--anti-acctent);
	font-size: 18px;
	padding: 5px 10px;
}
.info input::-webkit-outer-spin-button,
.info input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.info input[type='number'] {
	-moz-appearance: textfield;
}
.countdown {
	display: flex;
	align-items: center;
	gap: 16px;
}

.num {
	font-family: 'Inconsolata', monospace;
	font-size: 160px;
	line-height: 1;
	background: #29292e;
	padding: 20px 16px;
	border-radius: 8px;
	font-weight: bold;
}

.dots {
	color: var(--primary);
	font-size: 160px;
	font-family: 'Inconsolata', monospace;
}

.button {
	background: var(--primary);
	border: none;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	padding: 20px 40px;
}
.button:hover {
	cursor: pointer;
}
